{% extends 'app.html' %}

{% block content %}
<div class="container mt-4">
    <h3>Blog</h3>
    <div class="row">
        {% for post in Posts %}
        <div class="col-md-4">
            <div class="card">
                <img src="/{{ post.image }}" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                  <h5 class="card-title">{{ post.title }}</h5>
                  <a href="/blog/{{ post.id }}" class="btn btn-primary">Read More ..</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}